@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   
    <h1>Name:@ViewData["myName"]</h1>
    <h1>Gender:@ViewData["Gender"]</h1>
    <h1>Age:@ViewData["Age"]</h1>
    <h1>Designation:@ViewData["Desgination"]</h1>
</div>
